body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate {
  transition: all 750ms ease-in-out;
}

.awesome {
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 auto;
  
  backface-visibility: hidden;
}

.awesome .sticky {
	transform: rotate(45deg);
}
